## Titanic task

In [2]:
#import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns   
%matplotlib inline
#import split
from sklearn.model_selection import train_test_split
#import regression 
from sklearn.linear_model import LogisticRegression
#import Random forest
from sklearn.ensemble import RandomForestClassifier
#liner regression
from sklearn.linear_model import LinearRegression
#Decision Tree
from sklearn.tree import DecisionTreeClassifier

In [3]:
#import datasets
gender = pd.read_csv('gender.csv')
#check the head of the datasets
gender.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [5]:
#check the shape of the data sets
gender.shape

(418, 2)

In [ ]:
#check the columns